In [1]:
import os

In [2]:
pip install mysql

Requirement already satisfied: mysql in c:\users\lenovo\anaconda3\lib\site-packages (0.0.2)
Requirement already satisfied: mysqlclient in c:\users\lenovo\anaconda3\lib\site-packages (from mysql) (1.4.2.post1)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns
%matplotlib inline

In [4]:
user_name = os.environ.get('DB_USER')
password  =  os.environ.get('DB_PASS')

In [5]:
import mysql.connector

cnx = mysql.connector.connect(user='root', password='12345678',
                              host='127.0.0.1',
                              database='cognizant')

In [6]:
cnx

In [7]:
cursor = cnx.cursor()

In [8]:
cognizant_tables = pd.read_sql_query('SHOW TABLES FROM cognizant',cnx)

In [9]:
cognizant_tables

  Tables_in_cognizant
0            employee

In [10]:
import mysql.connector

cnx = mysql.connector.connect(user='root', password='12345678',
                              host='127.0.0.1',
                              database='telusko')

In [11]:
cnx

In [12]:
cursor = cnx.cursor()

In [20]:
telusko_tables =pd.read_sql_query('SHOW TABLES FROM telusko',cnx)

In [21]:
telusko_tables

  Tables_in_telusko
0           student

In [27]:
tables = telusko_tables['Tables_in_telusko']

In [28]:
tables

0    student
Name: Tables_in_telusko, dtype: object